#!/bin/bash
# Allow alias expansion in non-interactive shells
shopt -s expand_aliases

hash kubectl &>/dev/null && alias k=kubectl
hash kubectx &>/dev/null && alias kx=kubectx
hash kubens  &>/dev/null && alias kn=kubens

# https://granted.dev
alias assume=". assume"

# Add autocompletion of all defined alias so far
# https://github.com/cykerway/complete-alias
complete -F _complete_alias "${!BASH_ALIASES[@]}"

# 
# Aliases from here won't be autocompleted, useful if you are having issues with complete_alias
#

# make less to handle ansi codes correctly
alias less="TERM=xterm less -r"

# force TERM for man as otherwise it doesn't highlight propertly in tmux
alias man="TERM=xterm man"

# Enable aliases to be sudo’ed alias sudo='sudo '
alias myip="dig +short myip.opendns.com @resolver1.opendns.com"
alias myips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Alias based on OS
if [ "$(uname)" == "Darwin" ]; then
    alias ls="command ls -G"
    alias ll="ls -laF -G"
    alias thg="/Applications/TortoiseHg.app/Contents/MacOS/thg"
    alias path="greadlink -f"
    alias vim="mvim -v"
    alias vi="mvim -v"
    alias stripcolor="sed 's/\x1B\[([0-9]{1,2}(;[0-9]{1,2})?)?[m|K]//g'"
else
    alias ls="command ls --color"
    alias ll="ls -laF --color"
    alias path="readlink -f"
    alias stripcolor="sed 's/\x1B\[([0-9]{1,2}(;[0-9]{1,2})?)?[m|K]//g' -r"
    alias pbcopy='xclip -selection clipboard'
    alias pbpaste='xclip -selection clipboard -o'
    alias grep='grep --color'

    if hash vim &>/dev/null; then
        alias vi="vim"
    elif hash gvim &>/dev/null; then
        alias vim="gvim -v"
        alias vi="gvim -v"
    fi

    if hash espeak &>/dev/null; then
        alias say='echo "$1" | espeak -s 120 2>/dev/null'
    fi

    if hash gnome-open &>/dev/null; then
        alias open=gnome-open
    fi
fi

# trying out new aliases
alias ..="cd .."
alias cl="clear"

