# vi: ft=readline
set completion-ignore-case on
set show-all-if-ambiguous on
set mark-symlinked-directories on
set match-hidden-files off
set page-completions off
set completion-query-items 200
set blink-matching-paren on

# Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
set input-meta on
set output-meta on
set convert-meta off

# Use the text that has already been typed as the prefix for searching through
# commands (i.e. more intelligent Up/Down behavior)
"\e[B": history-search-forward
"\e[A": history-search-backward

# Use Alt/Meta + Delete to delete the preceding word
"\e[3;3~": kill-word

# Use Ctrl+backspace to delete preceding word
"\C-h": backward-kill-word
"\C-?": backward-kill-word

# Use Opt+k as an alternative to Ctrl+k (in use by the vim-tmux-navigator plugin)
"\ek": kill-line

# Use Ctrl+Left and Ctrl-Right to move the cursor by words
"\e[1;5D": backward-word
"\e[1;5C": forward-word

# Sacrifice transpose-chars keymap in order to have forward-search-history
"\C-t": forward-search-history

# From http://www.ukuug.org/events/linux2003/papers/bash_tips/
$if Bash
  Space: magic-space
$endif
